<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.BetonMapper">
  <resultMap id="BaseResultMap" type="com.tiantian.pojo.Beton">
    <id column="boId" jdbcType="BIGINT" property="boId" />
    <result column="uId" jdbcType="BIGINT" property="uId" />
    <result column="anId" jdbcType="BIGINT" property="anId" />
    <result column="boTime" jdbcType="TIMESTAMP" property="boTime" />
  </resultMap>
  <sql id="Base_Column_List">
    boId, uId, anId, boTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from beton
    where boId = #{boId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from beton
    where boId = #{boId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tiantian.pojo.Beton">
    insert into beton (boId, uId, anId, 
      boTime)
    values (#{boId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{anId,jdbcType=BIGINT}, 
      #{boTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tiantian.pojo.Beton">
    insert into beton
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boId != null">
        boId,
      </if>
      <if test="uId != null">
        uId,
      </if>
      <if test="anId != null">
        anId,
      </if>
      <if test="boTime != null">
        boTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boId != null">
        #{boId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="anId != null">
        #{anId,jdbcType=BIGINT},
      </if>
      <if test="boTime != null">
        #{boTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiantian.pojo.Beton">
    update beton
    <set>
      <if test="uId != null">
        uId = #{uId,jdbcType=BIGINT},
      </if>
      <if test="anId != null">
        anId = #{anId,jdbcType=BIGINT},
      </if>
      <if test="boTime != null">
        boTime = #{boTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where boId = #{boId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiantian.pojo.Beton">
    update beton
    set uId = #{uId,jdbcType=BIGINT},
      anId = #{anId,jdbcType=BIGINT},
      boTime = #{boTime,jdbcType=TIMESTAMP}
    where boId = #{boId,jdbcType=BIGINT}
  </update>
</mapper>