<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.OddsMapper">
  <resultMap id="BaseResultMap" type="com.auto.entity.Odds">
    <id column="oId" jdbcType="BIGINT" property="oId" />
    <result column="pId" jdbcType="BIGINT" property="pId" />
    <result column="oNumber" jdbcType="INTEGER" property="oNumber" />
    <result column="oRate" jdbcType="DECIMAL" property="oRate" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, pId, oNumber, oRate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from odds
    where oId = #{oId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from odds
    where oId = #{oId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.auto.entity.Odds">
    insert into odds (oId, pId, oNumber, 
      oRate)
    values (#{oId,jdbcType=BIGINT}, #{pId,jdbcType=BIGINT}, #{oNumber,jdbcType=INTEGER}, 
      #{oRate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.auto.entity.Odds">
    insert into odds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="pId != null">
        pId,
      </if>
      <if test="oNumber != null">
        oNumber,
      </if>
      <if test="oRate != null">
        oRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=BIGINT},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=BIGINT},
      </if>
      <if test="oNumber != null">
        #{oNumber,jdbcType=INTEGER},
      </if>
      <if test="oRate != null">
        #{oRate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auto.entity.Odds">
    update odds
    <set>
      <if test="pId != null">
        pId = #{pId,jdbcType=BIGINT},
      </if>
      <if test="oNumber != null">
        oNumber = #{oNumber,jdbcType=INTEGER},
      </if>
      <if test="oRate != null">
        oRate = #{oRate,jdbcType=DECIMAL},
      </if>
    </set>
    where oId = #{oId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auto.entity.Odds">
    update odds
    set pId = #{pId,jdbcType=BIGINT},
      oNumber = #{oNumber,jdbcType=INTEGER},
      oRate = #{oRate,jdbcType=DECIMAL}
    where oId = #{oId,jdbcType=BIGINT}
  </update>
</mapper>