<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.PlaylawMapper">
  <resultMap id="BaseResultMap" type="com.auto.entity.Playlaw">
    <id column="pId" jdbcType="BIGINT" property="pId" />
    <result column="gId" jdbcType="BIGINT" property="gId" />
    <result column="gName" jdbcType="VARCHAR" property="gName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.auto.entity.Playlaw">
    <result column="pIntroduce" jdbcType="LONGVARCHAR" property="pIntroduce" />
  </resultMap>
  <sql id="Base_Column_List">
    pId, gId, gName
  </sql>
  <sql id="Blob_Column_List">
    pIntroduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from playlaw
    where pId = #{pId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from playlaw
    where pId = #{pId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.auto.entity.Playlaw">
    insert into playlaw (pId, gId, gName, 
      pIntroduce)
    values (#{pId,jdbcType=BIGINT}, #{gId,jdbcType=BIGINT}, #{gName,jdbcType=VARCHAR}, 
      #{pIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.auto.entity.Playlaw">
    insert into playlaw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        pId,
      </if>
      <if test="gId != null">
        gId,
      </if>
      <if test="gName != null">
        gName,
      </if>
      <if test="pIntroduce != null">
        pIntroduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=BIGINT},
      </if>
      <if test="gId != null">
        #{gId,jdbcType=BIGINT},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="pIntroduce != null">
        #{pIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auto.entity.Playlaw">
    update playlaw
    <set>
      <if test="gId != null">
        gId = #{gId,jdbcType=BIGINT},
      </if>
      <if test="gName != null">
        gName = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="pIntroduce != null">
        pIntroduce = #{pIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pId = #{pId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.auto.entity.Playlaw">
    update playlaw
    set gId = #{gId,jdbcType=BIGINT},
      gName = #{gName,jdbcType=VARCHAR},
      pIntroduce = #{pIntroduce,jdbcType=LONGVARCHAR}
    where pId = #{pId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auto.entity.Playlaw">
    update playlaw
    set gId = #{gId,jdbcType=BIGINT},
      gName = #{gName,jdbcType=VARCHAR}
    where pId = #{pId,jdbcType=BIGINT}
  </update>
</mapper>